/* desktop styling */
@media screen and (min-width: 600px) {
    header {
        margin-top: 0em;
        order: 2;
    }

     main {
     display: flex;
     height: 100%;
     align-items: center;
     justify-content: space-evenly;
    }
    
    .portrait {
        width: 20vw;
    }
 
     .main-index p {  
       display: inline-block;
    }

    .text-container {
        display: none;
    }
 
}