/* global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --clr-primary: rgba(255, 255, 255, 0.467);
    --clr-primary-accent:#f5eaea;
    --clr-primary-text: black;
    --ff-primary: 'Roboto', sans-serif;
    --ff-title: 'poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

/* * anchor-styling * */
.project-text-container a,
.about-section-container h2 a {
  color: var(--clr-accent);
  text-decoration: underline;
}

/* hover effects */
nav a:hover,
.account-links a:hover,
.project-links-container a:hover,
#contact-me:hover,
.about-section-container a:hover,
.logo:hover {
  display: inline-block;
  transform: scale(1.125);
}

a {
    text-decoration: none;
    color: var(--clr-secondary);
  }
  

h1,h2 {
    color: var(--clr-primary);
}

html {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    background-color: var(--clr-primary);
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
    margin: auto;
}
  
  .page-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: inherit;
  }
 
  /* logo */
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo {
    width: clamp(2rem, 4.6vw + 1.1rem, 3rem);
}

 /* nav component */
 body>nav, footer>nav {
    display: flex;
    list-style: none;
    padding: 0.5em;
    justify-content: space-evenly;
}

/* Main */
.main {
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

header>p {
    display: none;
}

h1, h2 {
    color: var(--clr-primary-text);
}

/* Potrait */
.portrait-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    display: flex;
    width: 35vw;
    border-radius: 25%;
    border-color: var(--clr-accent);
    background-color: black;
}
/* Info */
.text-container {
    text-align: center;
    font-size: clamp(0.8rem, 0.7vw + 0.71rem, 1rem);
}

footer {
    justify-content: center;
    margin-top: auto;
}

footer>p {
    text-align: center;
}
 
 
 
 
